@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --purple: #7250ce;
  --accent: #9c80e9;
  --black: #161616;
  --gray: #474747;
  --white: #c0c0c0;
}

body {
  min-height: 100dvh;
  max-width: 100dvw;
}

/* Ttile */
.content_title {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  color: var(--purple);
}

/* Autocapture */
.content_autocapture {
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 700px;
  border-radius: 10px;
}

/* Actions */
.content_buttons {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
  display: none;
}

.content_buttons > button {
  border: none;
  border-radius: 40px;
  margin: 0 1rem;
  cursor: pointer;
  color: white;
  background-color: var(--purple);
  padding: 0.5rem 1.2rem;
}

/*Result*/
#content_images {
  display: flex;
  width: 100%;
  margin: 1rem 0 2rem 0;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
}

/* Footer */
footer {
  position: absolute;
  left: 50%;
  bottom: 20px;
  font-size: 0.8rem;
  font-weight: 200;
  color: var(--gray);
  width: 100%;
  text-align: center;
  transform-origin: center;
  transform: translateX(-50%);
}

/* Responsive */
@media (max-width: 600px) {
  footer {
    bottom: -50px;
    font-size: 0.6rem;
  }
}
